<style type="text/css">
  body {
    background: url(/assets/bg.png),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-blend-mode: overlay;
  }
  h2{
    color: white;
    font-family: Impact, Charcoal, sans-serif;
  }
main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
}

.simple_form label {
  width: 200px;
}
.simple_form input {
  width: 300px;
}

  hr{
    border-bottom: 1px solid white;
  }
</style>
<div>
    <h2>Sign up</h2>
    <div style="width: 300px;"><hr></div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :firstName,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "firstName" }%>
        <%= f.input :lastName,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "lastName" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :deptNum,
                    required: true,
                    autofocus: true,
                    input_html: {autocomplete: "deptNum" } %>
        <%= f.input :type, required: true, as: :radio_buttons, label: "Type of Account", collection: Account::ACCOUNT_TYPES.drop(1)%>
      </div>

    <div class="form-actions" style="width: 300px;">
        <hr>

        <%= f.button :submit, "Sign up", class: "btn btn-lg btn-success btn-block" %>
    </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
</div>
