<%= form_with(model: expense_report, local: true) do |form| %>
    <% if expense_report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(expense_report.errors.count, "error") %> prohibited this expense_report from being saved:</h2>

        <ul>
        <% expense_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :firstName %>
      <%= form.text_field :firstName %>
    </div>
    <div class="field">
      <%= form.label :lastName %>
      <%= form.text_field :lastName %>
    </div>
    <div class="field">
      <%= form.label :empID %>
      <%= form.number_field :empID %>
    </div>

    <div class="field">
      <%= form.label :tripNum %>
      <%= form.number_field :tripNum %>
    </div>

    <div class="field">
      <%= form.label :deptNum %>
      <%= form.number_field :deptNum %>
    </div>

    <div class="field">
      <%= form.label :formNum %>
      <%= form.number_field :formNum %>
    </div>

    <div class="field">
      <%= form.label :departDate %>
      <%= form.date_select :departDate %>
    </div>

    <div class="field">
      <%= form.label :returnDate %>
      <%= form.date_select :returnDate %>
    </div>

    <div class="field">
      <%= form.label :destination %>
      <%= form.text_area :destination %>
    </div>

    <div class="field">
      <%= form.label :purpose %>
      <%= form.text_field :purpose %>
    </div>

    <h3>Expenses</h3>
      <table class='table'>
      <thead>
        <tr>
          <th>Expense</th>
          <th>Expected Amount</th>
          <th>Actual Amount</th>
        </tr>
      </thead>
      <tbody class='expenses'>
        <%= form.fields_for :expenses do |expense| %>
          <%= render 'expense_fields', :form => expense %>
        <% end %>
      </tbody>
    </table>
    <div class='links'>
        <%= link_to_add_association 'add expense', form, :expenses, form_name: 'form', data: { association_insertion_method: :before } %>
      </div>
      <br>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>