<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Budget Approvers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Forms</th>
      <th>Empid</th>
      <th>Deptnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_approvers.each do |budget_approver| %>
      <tr>
        <td><%= budget_approver.firstName %></td>
        <td><%= budget_approver.lastName %></td>
        <td><%= budget_approver.username %></td>
        <td><%= budget_approver.email %></td>
        <td><%= budget_approver.password %></td>
        <td><%= budget_approver.forms %></td>
        <td><%= budget_approver.empID %></td>
        <td><%= budget_approver.deptNum %></td>
        <td><%= link_to 'Show', budget_approver %></td>
        <td><%= link_to 'Edit', edit_budget_approver_path(budget_approver) %></td>
        <td><%= link_to 'Destroy', budget_approver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Approver', new_budget_approver_path %>
