<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Payment Managers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Forms</th>
      <th>Empid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_managers.each do |payment_manager| %>
      <tr>
        <td><%= payment_manager.firstName %></td>
        <td><%= payment_manager.lastName %></td>
        <td><%= payment_manager.username %></td>
        <td><%= payment_manager.email %></td>
        <td><%= payment_manager.password %></td>
        <td><%= payment_manager.forms %></td>
        <td><%= payment_manager.empID %></td>
        <td><%= link_to 'Show', payment_manager %></td>
        <td><%= link_to 'Edit', edit_payment_manager_path(payment_manager) %></td>
        <td><%= link_to 'Destroy', payment_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Manager', new_payment_manager_path %>
